<ion-header>

  <ion-toolbar>
    <button (click)="close()" ion-button icon-only menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <ion-title text-center>

    </ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="account && currentUser">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="account.photoURL? account.photoURL : 'assets/imgs/buddy.png'">
      </ion-avatar>
      <h2>{{account.name}}</h2>
      <p>{{account.username}}</p>
      <br/>
      <p>{{account.description}}</p>
      
      <button *ngIf="currentUser.uid === account.uid" ion-button outline item-end>Edit Profile</button>
      <button (click)="follow()" *ngIf="(currentUser.uid  !== account.uid) && !followingStatus()" ion-button item-end>Follow</button>
      <button (click)="unfollow()" *ngIf="(currentUser.uid !== account.uid) && followingStatus()" ion-button color="danger" item-end>Unfollow</button>

    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <b>{{following()}}</b>
          Following
        </ion-col>
        <ion-col>
          <b>{{followers()}}</b>
          Followers
        </ion-col>

        <ion-col>
          <b>{{userTimeline? userTimeline.length: 0}}</b>
          Posts
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <ion-segment [(ngModel)]="view">
    <ion-segment-button value="posts">
      Posts
    </ion-segment-button>
    <ion-segment-button value="likes">
      Likes
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favorites
    </ion-segment-button>

  </ion-segment>
  <div [ngSwitch]="view">
    <div *ngSwitchCase="'posts'">
      <timeline [timeline]="userTimeline"></timeline>
    </div>
    <div *ngSwitchCase="'likes'">
      <timeline [timeline]="likedTimeline"></timeline>
    </div>
    <div *ngSwitchCase="'favorites'">
      <timeline [timeline]="bookmarkedTimeline"></timeline>
    </div>


  </div>




</ion-content>