<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button (click)="addPost()" ion-button icon-only>
        <i class="fa fa-edit"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="timeline">
    <ion-card *ngFor="let post of timeline">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/buddy.png">
        </ion-avatar>
        <h2>{{post.user}}</h2>
        <p>{{post.address}}</p>
        <p>{{getDate(post.createdAt)}}</p>
      </ion-item>
      <ion-card-content>
        <p>
          {{post.text}}
        </p>
        <div *ngIf="post.photoURL">
          <img class="post-img" [src]="post.photoURL" />
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button *ngIf="!likeState(post.likes)" (click)="like(post.uid)" ion-button clear small icon-only color="dark">
            <i class='fa fa-heart'></i>
          </button>
          <button *ngIf="likeState(post.likes)" (click)="dislike(post.uid)" ion-button clear small icon-only color="danger">
              <i class='fa fa-heart'></i>
            </button>
          <button (click)="comment()" ion-button clear small icon-start color="dark">
            <i class='fa fa-comment'></i>
          </button>
        </ion-col>
        <ion-col text-right>
          <button (click)="share()" ion-button clear small icon-start color="dark">
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>


</ion-content>