<ion-header>

  <ion-navbar>
    <ion-title>Messages</ion-title>
    <ion-buttons end>
      <button (click)="searchUser()" ion-button icon-only clear>
        <i class="fa fa-plus-circle"></i>
      </button>

    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-card *ngFor="let chat of chats">
    <ion-item (click)="goToChat(chat.uid)">
      <ion-avatar [ngClass]="{'unread': chat.unread}" item-start>
        <img [src]="chat.recipientPhoto">
      </ion-avatar>      
      <h2>{{chat.recipient}}</h2>   
      <b *ngIf="chat.unread" item-end>Unread</b>       
    </ion-item>
  </ion-card>

</ion-content>