<div *ngIf="timeline && account">
    <ion-card *ngFor="let post of timeline">
      <ion-item>
        <ion-avatar (click)="goToProfile(post.postBy)" item-start>
          <img [src]="post.userPhoto? post.userPhoto : 'assets/imgs/buddy.png'">
        </ion-avatar>
        <h2>{{post.user}}</h2>
        <p *ngIf="post.postOwner">Shared
          <b>{{post.postOwner}}</b> post</p>
        <p>{{post.address}}</p>
        <p>{{getDate(post.createdAt)}}</p>
        <button *ngIf="account.uid === post.postBy" (click)="deletePost(post.uid)" ion-button icon-only clear color="danger" item-end>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
      <ion-card-content>
        <p>
          {{post.text}}
        </p>
        <div *ngIf="post.photoURL">
          <img class="post-img" [src]="post.photoURL" />
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col class="actions">
          <button *ngIf="!likeState(post.likes)" (click)="like(post.uid)" ion-button clear small icon-only color="dark">
            <i class='fa fa-heart'></i>
          </button>
          <button *ngIf="likeState(post.likes)" (click)="dislike(post.uid)" ion-button clear small icon-only color="danger">
            <i class='fa fa-heart'></i>
          </button>
          <button [ngClass]="{'comment': commentState(post.comments)}" (click)="comment(post.uid)" ion-button clear small icon-start
            color="dark">
            <i class='fa fa-comment'></i>
          </button>

          <button *ngIf="!bookmarkState(post.bookmark)" (click)="addToBookmark(post.uid)" ion-button clear small icon-only color="dark">
            <i class='fa fa-bookmark'></i>
          </button>
          <button *ngIf="bookmarkState(post.bookmark)" (click)="removeFromBookmark(post.uid)" ion-button clear small icon-only color="warning">
            <i class='fa fa-bookmark'></i>
          </button>
        </ion-col>
        <ion-col text-right>
          <button *ngIf="account.uid !== post.postBy" (click)="sharePost(post)" ion-button clear small icon-start color="dark">
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>