page-add-post {
  .addons button{
		margin-left: 20px;
	}

	.image {
		margin: 0 auto;
		text-align: center;
	}

	.image img {
		margin: 0 auto;
		text-align: center;
		max-height: 512px;
	}

	.active {
		color: color($colors, danger);
	}
}
