page-signup {
	.phone .item {
    width: 85%;
    margin: 0 auto;
  }

  ion-select {
    max-width: 90%;
	}
	
	.logo {		
		text-align: center;
		margin: 0 auto;
	}

	.logo img {
		height: 128px;
	}
}
